

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

/* Navbar */
   


/* Section Start */
  
.container{
    max-width: 93%;
    margin: 20px auto;
}

.image-container{
    margin-right: 0;
    columns: 4;
    gap: 1rem;

  }
 .image-container img{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}


@media screen and (993px <= width <= 1200px) {
    .image-container{
        columns:3;
    }
  }
  
@media screen and (width<=992px){
    .image-container{
        columns:2;
      }
}
@media screen and (width <= 600px) {
  .image-container{
        columns:1;
      }
  } 